<html>
<head>
<meta name="google-site-verification" content="XriYC9vXQrWtno36jqaKWeJEmcJwk6aP2x1laofIt-c" />
<title> Welcome#index </title>
</head> 
<body>
<p>Find me in app/views/welcome/index.html.erb</p>
</body>
</html>